SPRING_DATASOURCE_URL=jdbc:postgresql://aws-0-sa-east-1.pooler.supabase.com:6543/postgres?prepareThreshold=0
SPRING_DATASOURCE_USERNAME=postgres.SEUPROJECTREF
SPRING_DATASOURCE_PASSWORD=SUA_SENHA_DO_BANCO_SUPABASE
APP_AUTH_USERNAME=seu-email@treventtos.com.br
APP_AUTH_PASSWORD=sua-senha-do-sistema
